<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.joe">

    <application
        android:name=".util.MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/TranslucentTheme">
        <activity
            android:name=".MainActivity"
            android:label="孕小糖"
            android:launchMode="singleTask">
        </activity>
        <activity
            android:name=".RegisterActivity"
            android:label="注册"
            android:launchMode="singleTask" />
        <activity
            android:name=".CalorieActivity"
            android:label="卡路里计算器"
            android:launchMode="singleTask" />
        <activity
            android:name=".ChangeFoodActivity"
            android:label="宝妈的食物选择器"
            android:launchMode="singleTask" />

        <service
            android:name=".service.MyService"
            android:enabled="true"
            android:exported="true" />

        <receiver
            android:name=".service.ShowNotificationReceiver"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="com.joe.example.broadcasttest.SHOW_NOTIFICATION" />
            </intent-filter>
        </receiver>
        <receiver
            android:name=".service.NotificationReceiver"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="com.joe.example.broadcasttest.NOTIFICATION" />
            </intent-filter>
        </receiver>

        <activity
            android:name=".WenZhangBtnActivity"
            android:label="宝妈的选择文章"
            android:launchMode="singleTask" />
        <activity
            android:name=".WenActivity"
            android:label="宝妈的文章"
            android:launchMode="singleTask" />

        <activity android:name=".StartActivity"
            android:theme="@style/AppTheme.Launcher"
            >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

        </activity>
    </application>

</manifest>